#videocard {
  display: inline-block;
  margin: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  width: 200px;
  height: 250px;
  overflow: hidden;

  .video-name {
    text-align: center;
    font-size: medium;
    color: rgb(0, 191, 255);
    font-size: large;
    font-weight: bold;
  }

  .video-type {
    text-align: center;
    font-size: medium;
    color: lightblue;
  }

  .video-date {
    text-align: center;
    font-size: medium;
    color: lightblue;
  }

  button {
    background-color: red;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
  }
}

#promptcard {
  display: inline-block;
  margin: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  width: 200px;
  height: 250px;
  overflow: hidden;

  .prompt {
    text-align: center;
    font-size: medium;
    color: rgb(0, 191, 255);
    font-size: large;
    font-weight: bold;
  }

}