# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/uploads
/backend-serverless/node_modules
/backend-serverless/.serverless/requirements
/backend-serverless/.env
.env

#extra
/backend/__pycache__
/backend/instance
/backend/.ennpm