.register-page {
  height: 100vh;
  background-image: url("../../../assets/background.jpg");
  align-items: center;
  padding-bottom: 4rem;
  .title {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 62px;
    font-weight: 700;
    color: #c8d4de;
  }

  label {
    color: RGB(200, 212, 222);
    display: inline;
  }
  input {
    display: block;
  }
}
