.upload-page {
  background-image: url('../../assets/background.jpg');
  text-align: center;
  min-height: 100vh;
  height: auto;
  padding-bottom: 10vh;

  .title {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 62px;
    font-weight: 700;
    color: rgb(4, 4, 42);
  }

  label {
    color: white;
    padding: 20px;
  }

  .file-submission {
    color: white;
  }

  button {
    margin-top: 45px;
  }
}

.upload-form {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  background-color: rgb(4, 4, 42);
  align-content: center;
  margin: 0 auto;
}

.progress-bar {
  color: white;
  margin-top: 2rem;
}