.signin-page {
  height: 100vh;
  color: rgb(4, 4, 42);

  .title {
    text-align: center;
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 62px;
    font-weight: 700;
  }

  .signin-form {
    background-color: rgb(4, 4, 42);
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 2rem;
    border-radius: 25px;

    label {
      color: RGB(200, 212, 222);
      display: block;
    }
    input {
      display: inline;
      margin-bottom: 2rem;
    }
  }
}
