.watch-page {
    color: rgb(4, 4, 42);
    

  .watch-container {
    color: white;
    width: 80%;
    min-height: 80vh;
    height: auto;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgb(4, 4, 42);
    align-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  table,
  th,
  td {
    border: 1px solid;
    text-align: center;
    font-size: 28px;
    color: white;
  }
}
