.home-page {
  height: 100vh;
  background-image: url('../../assets/background.jpg');

  .title {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 62px;
    font-weight: 700;
    color: rgb(4, 4, 42);
  }

  p {
    margin-top: 2rem;
    color: white;
    margin: 0 2rem;
  }
}
