.archive-page {
  min-height: 100vh;
  height: auto;
  padding-bottom: 10vh;
  .title {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 62px;
    font-weight: 700;
    color: rgb(4, 4, 42);
  }

  .videos {
    width: 80%;
    min-height: 80vh;
    height: auto;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgb(4, 4, 42);
    align-content: center;
    margin: 0 auto;
  }

  .videos-header {
    color: white;
    text-align: center;
    font-size: xx-large;
  }

  .videocard-container {
    margin: 0 auto;
  }
}
